// Global styles goes here

#root,
html,
body {
    height: 100%;
}

html,
body {
    overflow: hidden;
}

.cursor-pointer {
    cursor: pointer;
}

.overflow-y-auto {
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: $secondary transparent;
    scrollbar-width: thin;
}

.transition {
    transition: $transition-timing all;
}