// All the SCSS Variables goes here
$font-family-base: 'League Spartan', sans-serif;
$font-size-base: 1rem;
$font-size-base-sm: 0.875rem;

// general
$transition-timing : 0.4s;

//media query
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
    xxxl: 1600px
);