// slider 
.carousel {
    flex: 0 0 70vh;

    .hero-content {
        padding: 0 6rem;

        @include media-breakpoint-up(xxxl) {
            padding: 0 8rem;
        }

    }

    .hero-heading {
        font-size: 3rem;
        font-weight: 700;
        padding: 1rem 0;
        letter-spacing: -2px;
        line-height: 50px;
    }

    .arrows-container {
        left: 58.35%;
    }

    .slider-btn {
        padding: 2.15rem;
        background-color: $dark;

        @include media-breakpoint-up(xxxl) {
            padding: 2.75rem;
        }

        &:hover {
            background-color: rgba($dark, 0.7);
        }
    }

    .shop-text {
        letter-spacing: 10px;
        font-weight: 600;

        &:hover {
            color: $primary;
        }
    }
}

// About our furniture 
.about-image-col {
    width: 30%;

    @include media-breakpoint-down(lg) {
        width: 100%;
    }
}

.about-col {
    width: 40%;

    @include media-breakpoint-down(lg) {
        width: 100%;
        padding: 3rem 0;
    }

    .heading-about {
        font-size: 1.15rem;
        font-weight: 700;
        letter-spacing: 7px;
    }

    .about-content {
        padding: 0 3rem;
    }
}