.carousel {
    flex: 0 0 65vh;

    .hero-content {
        padding: 10rem;
    }

    .btn-arrows {
        left: 60%
    }
}

.about {
    // flex: 0 0 35%;

    .about-content {
        padding: 5rem 3rem;
    }
}